body{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    height: 100vh;
}

html{
    font-family: "Roboto", sans-serif;
}



.header{
    background-color: var(--primary-color);
    padding: var(--spacing-4);
    margin-top: var(--margin-10);
    margin:  var(--margin-40); 
    box-shadow: var(--box-shadow-2);
}

.title{
    color: var(--color-white);
    margin-left: var(--margin-60);
   
}

.title:hover{
    transform: scale(1.1);
}

.nav_list{
    font-size: var(--font-size-25);
    color: var(--primary-color);
    margin-right: var(--margin-60);
    background-color: var(--bg-primary-color);
    padding: 0 var(--spacing-1);  
    box-shadow: var(--box-shadow-1);
    box-shadow: var(--box-shadow-4);  
}


.nav:hover{
    transform: scale(1.1);
}

.form_box {
    box-shadow: var(--box-shadow-1);
    padding: var(--spacing-1);
    border-radius: var(--border-radius-10) ;
    margin:  auto;
    margin-top: var(--margin-40);
    text-align: center;
 
}

.form_box_username{
    color: var(--primary-color);
    margin-top: var(--margin-30);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius-10);
    margin-left: var(--margin-40);
}

.form_box_password{
    color: var(--primary-color);
    margin-top: var(--margin-20);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius-10);
    margin-left: var(--margin-40);
   
}

.form_box_login{
    background-color: var(--primary-color);
    color: var(--color-white);
    border: 0;
    margin-top: var(--margin-20);
    border-radius: var(--border-radius-10);
    margin-left: var(--margin-90);
}

.form_box_login:hover{
    color: var(--color-white);
    background-color: var(--secondary-color);
    transform: scale(1.1);
}


.container-root{
   
    height: 1200px;
}

.login-container {
    flex: 1; 
}

.label_container{
    width: 90%;
   margin-bottom: 60px;
   box-shadow: var(--box-shadow-1);
   padding: 20px;
   text-align: center;
}

.main_box{
    width: 90%;  
    margin-top: var(--margin-60);
    height: 90%;
    padding: 20px;
    box-shadow: var(--box-shadow-2);
    margin-left: var(--margin-40);
    border-radius: var(--box-shadow-1);
   

}

.form_container{
    width: 90%;
    padding: 20px;
    box-shadow: var(--box-shadow-1); 
}
.form_container_input{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 30px;
}

.submit-btn-label{
    width: 200px;
    padding: var(--spacing-1) ;
    background-color: var(--primary-color);
    color: var(--color-white);
    box-shadow: var(--box-shadow-1);
    border: 0;    
    margin-top: 20px;
    text-align: center;

}

.radio{
    padding: 20px;
    margin-left: var(--margin-20);
}



.main-container{
    margin-left: 40px;
}


.formBox_container {
    box-shadow: var(--box-shadow-2);
    padding: var(--spacing-1);
    margin: auto ;
    margin-top: var(--margin-60);
 
}
.formBox_container_input {
    box-shadow: var(--box-shadow-1);
    border-radius: var(--border-radius-10);;
    margin-top: var(--margin-5);
    border: 0;
    padding: var(--spacing-1);
    margin:  auto ;
    margin-bottom: var();
}


.select{
    box-shadow: var(--box-shadow-1);
    border-radius: var(--border-radius-10);
    margin-top: var(--margin-20);
    border: 0;
    padding: var(--spacing-1);
    margin: auto;

}

.gender{
    margin: var(--spacing-2) 0;
    margin: auto;
}

.radio-two{
    margin-left: var(--margin-60);
}

.inputBox{
    bottom: var(--spacing-1);
    margin-right: var(--margin-60);
}

.checkbox{
    margin-right: var(--margin-10);

}

.box_checkbox{
    margin-left: var(--margin-40);
}

.submit-btn{
    padding:0 var(--spacing-1) ;
    background-color: var(--primary-color);
    color: var(--color-white);
    box-shadow: var(--box-shadow-1);
    border: 0;
    margin-left: var(--margin-20);
}


.sidebar{
    background-color: var(--primary-color);
    padding: var(--spacing-4);
    box-shadow: var(--box-shadow-1);
   
}
.blogger{
    margin: var(--margin-40) 0;
    color: white;
}

.blogger_name{
    font-size: var(--font-size-20);
    color: white;
}


.sidebar_title{
    font-size: var(--font-size-30);
    color: var(--color-white);
    text-align: center;
}

h2{
    font-size: var(--font-size-30);
    color: var(--color-white);
}

.section_block{
    background-color: var(--bg-primary-color);
    box-shadow: var(--box-shadow-1);
   

}

.post_card{
    padding: var(--spacing-4);
    margin: var(--margin-30) 0;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-1);
}

.blogger_avatar{
    box-shadow: var(--box-shadow-2);
}

.blogger_avatar:hover{
    transform: scale(1.1);
}

.post_image{
    box-shadow: var(--box-shadow-1);
}
.post_image:hover{
    transform: scale(1.1);

} 



.section_block_posts{
    padding: var(--spacing-3) 0;
}

.footer{
    padding: var(--spacing-3);
    color: var(--color-white);
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow-1);
    margin-top: var(--margin-20);
}

.socialMedia_icon{
    font-size: var(--font-size-25);
    color: var(--color-white);
    margin-right: var(--margin-10);
}

.socialMedia_icon:hover{
    color: var(--secondary-color);
}


@media screen  and (max-width: 1024px) {
    .header {
        padding: var(--spacing-4);
    }

    .nav_list {
        font-size: var(--font-size-20);
    }

    .form_box {
        width: 400px; 
        margin: auto;
    }

    .main-container {
        margin-left: 30px;
    }

    .sidebar {
        width: 250px; 
    }

    .post_card {
        display: flex; 
        flex-direction: column; 
    }
}
